<div class="alert alert-block alert-info">  

## <font color=darkblue>MSDS 593 EDA and Visualization: Homework #1</font>
###### By: Amanda Li Luo
###### Student ID #: 20645578

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<div class ="alert alert-block alert-success">

### Question 1: Create a 1D ndarray of numbers from 100 to 112 (step=1) inclusively and use python to

In [ ]:
x = np.arange(100, 113, 1)
x

> **(a) Print the shape of the array**

In [ ]:
print('Shape:', x.shape)

> **(b) print the data type of the array**

In [ ]:
print('Data type:', type(x))

> **(c) Create a new array that is a slice of the original array with index [5 : 10] inclusively,and assign all values of the the new array to be 0.**

In [ ]:
new_x = x[5:11]
print(new_x)
new_x[:] = 0
new_x

> **(d) Create a boolean vector from the array to indicate if any element is greater than 105,and less than or equal to 110.**

In [ ]:
boolean_x = (x >105) & (x <= 110)

boolean_x

> **(e) Replace all the elements in the array that are greater than 105 and less than or equal to 110 with 0.**

In [ ]:
x[boolean_x] = 0

In [ ]:
x

<div class="alert alert-block alert-success">  


### Question 2: Make a Series object with year values: 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000.

In [ ]:
year = pd.Series(range(1991,2001,1))
year

> **(a) Print out how many total values there are using code not manual counting**

In [ ]:
print('Total number of years:', year.count())

> **(b) Make another series with rainfall values 12.09, 12.35, 12.51, 10.25, 10.18, 10.59, 10.26, 10.48, 8.67, 10.23**

In [ ]:
rainfall = pd.Series([12.09, 12.35, 12.51, 10.25, 10.18, 10.59, 10.26, 10.48, 8.67, 10.23])
rainfall

> **(c) Imagine the order of rainfall values follow the order the years. Print out the years for which rainfall was less than 11.**

In [ ]:
# a= rainfall[rainfall < 11].index
# print(a)
# year[a]
print(year[rainfall[rainfall < 11].index].values)

<div class="alert alert-block alert-danger">  
> **(d) Normalize that rainfall series by x−mean std and print it out.**

In [ ]:
rainfall.describe()

In [ ]:
num = rainfall.describe()['mean']/ rainfall.describe()['std']
num

> **(e) Set the year starting 1996 and forward as np.nan. Count the number of missing values.**

In [ ]:
year[year >= 1996] = np.nan
missing_num = year.isna().value_counts()[False]
print('Number of missing values:', missing_num)

> **(f) Fill all the NaNs with 0.**

In [ ]:
year[year.isna()] = 0
year

<div class="alert alert-block alert-success">  
    
### Question 3: For the cars.csv data set:

In [ ]:
cars = pd.read_csv('cars.csv')
cars.head(10)

> **(a) Use numpy’s function np.corrcoe f(x, y) to compute the correlation between a car’s weight and the miles per gallon; that function returns a matrix of x with x, x with y, etc... so the diagonal will always be correlation 1.0. What is the correlation between a car’s weight and the MPG? What does the correlation tell us about their relationship?**

>> The correlation between a car's weight and the miles per gallon is *-0.83224421*. This correlation is a strong negative correlation indicating that as a car's weight increases, the number of miles per gallon decreases(and vice versa).

In [ ]:
np.corrcoef(cars['MPG'], cars['WGT'])

> **(b) Display the records for all 8 cylinder cars**

In [ ]:
cars[cars['CYL'] == 8]

> **(c) Create a new column called ‘ENG2WGT‘ that has the engine to weight ratio**

In [ ]:
cars['ENG2WGT'] = cars['ENG']/cars['WGT']

In [ ]:
cars

<div class="alert alert-block alert-success">  

### Question 4: For the kaggle − uber − other − f ederal.csv data set:

In [2]:
uber = pd.read_csv('kaggle-uber-other-federal.csv',
                  parse_dates = ['Date', 'Time'])
uber.head(2)

,Date,Time,PU_Address,DO_Address,Routing Details,PU_Address.1,Status
0,2014-07-01,2021-07-12 07:15:00,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;","1 Brookdale Plaza, BK NY;","PU: Brooklyn Museum, 200 Eastern Pkwy., BK NY;...","Brooklyn Museum, 200 Eastern Pkwy., BK NY; DO:...",Cancelled
1,2014-07-01,2021-07-12 07:30:00,"33 Robert Dr., Short Hills NJ;","John F Kennedy International Airport, vitona A...","PU: 33 Robert Dr., Short Hills NJ; DO: John F ...","33 Robert Dr., Short Hills NJ; DO: John F Kenn...",Arrived

> **(a) Create a new data frame containing ‘Time‘, ‘Status‘, and ‘PU_Address‘ columns**

In [3]:
new_uber = uber[['Time', 'Status', 'PU_Address']]
new_uber

,Time,Status,PU_Address
0,2021-07-12 07:15:00,Cancelled,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;"
1,2021-07-12 07:30:00,Arrived,"33 Robert Dr., Short Hills NJ;"
2,2021-07-12 08:00:00,Assigned,"60 Glenmore Ave., BK NY;"
3,2021-07-12 09:00:00,Assigned,"128 East 31 St., BK NY;"
4,2021-07-12 09:30:00,Assigned,"139-39 35 Ave., Flushing NY;"
...,...,...,...
94,2021-07-12 06:00:00,Assigned,"266 prospect park west, brooklyn NY;"
95,2021-07-12 08:30:00,Cancelled,"42 St., BK NY;"
96,2021-07-12 12:00:00,Arrived,"663 51st Street, BK NY;"
97,2021-07-12 16:45:00,Assigned,"255 Fieldston Terrace, Bronx NY;"
98,2021-07-12 13:30:00,Arrived,"Columbia University, 630 W 168 St., NY NY; ST:..."

> **(b) Create a new column ‘Hour‘ extracting hour information from ‘Time‘. Hint: make sure ‘Time‘ is the correct data type and keep the date added.**

In [4]:
df_uber = new_uber.copy()
df_uber

,Time,Status,PU_Address
0,2021-07-12 07:15:00,Cancelled,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;"
1,2021-07-12 07:30:00,Arrived,"33 Robert Dr., Short Hills NJ;"
2,2021-07-12 08:00:00,Assigned,"60 Glenmore Ave., BK NY;"
3,2021-07-12 09:00:00,Assigned,"128 East 31 St., BK NY;"
4,2021-07-12 09:30:00,Assigned,"139-39 35 Ave., Flushing NY;"
...,...,...,...
94,2021-07-12 06:00:00,Assigned,"266 prospect park west, brooklyn NY;"
95,2021-07-12 08:30:00,Cancelled,"42 St., BK NY;"
96,2021-07-12 12:00:00,Arrived,"663 51st Street, BK NY;"
97,2021-07-12 16:45:00,Assigned,"255 Fieldston Terrace, Bronx NY;"
98,2021-07-12 13:30:00,Arrived,"Columbia University, 630 W 168 St., NY NY; ST:..."

In [5]:
df_uber['Hour'] = df_uber['Time'].dt.hour
df_uber

,Time,Status,PU_Address,Hour
0,2021-07-12 07:15:00,Cancelled,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;",7
1,2021-07-12 07:30:00,Arrived,"33 Robert Dr., Short Hills NJ;",7
2,2021-07-12 08:00:00,Assigned,"60 Glenmore Ave., BK NY;",8
3,2021-07-12 09:00:00,Assigned,"128 East 31 St., BK NY;",9
4,2021-07-12 09:30:00,Assigned,"139-39 35 Ave., Flushing NY;",9
...,...,...,...,...
94,2021-07-12 06:00:00,Assigned,"266 prospect park west, brooklyn NY;",6
95,2021-07-12 08:30:00,Cancelled,"42 St., BK NY;",8
96,2021-07-12 12:00:00,Arrived,"663 51st Street, BK NY;",12
97,2021-07-12 16:45:00,Assigned,"255 Fieldston Terrace, Bronx NY;",16
98,2021-07-12 13:30:00,Arrived,"Columbia University, 630 W 168 St., NY NY; ST:...",13

> **(c) Set the index of the data frame to ‘Time‘.**

In [6]:
df_uber.set_index('Time', inplace = True)
df_uber

,Status,PU_Address,Hour
Time,,,
2021-07-12 07:15:00,Cancelled,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;",7
2021-07-12 07:30:00,Arrived,"33 Robert Dr., Short Hills NJ;",7
2021-07-12 08:00:00,Assigned,"60 Glenmore Ave., BK NY;",8
2021-07-12 09:00:00,Assigned,"128 East 31 St., BK NY;",9
2021-07-12 09:30:00,Assigned,"139-39 35 Ave., Flushing NY;",9
...,...,...,...
2021-07-12 06:00:00,Assigned,"266 prospect park west, brooklyn NY;",6
2021-07-12 08:30:00,Cancelled,"42 St., BK NY;",8
2021-07-12 12:00:00,Arrived,"663 51st Street, BK NY;",12
2021-07-12 16:45:00,Assigned,"255 Fieldston Terrace, Bronx NY;",16
2021-07-12 13:30:00,Arrived,"Columbia University, 630 W 168 St., NY NY; ST:...",13

> **(d) Display records at positions between 10 and 15 inclusively**

In [7]:
df_uber.iloc[10:16]

                       Status                   PU_Address  Hour
Time
2021-07-12 20:00:00  Assigned    35-36 32 St., Astoria NY;    20
2021-07-12 03:30:00   Arrived   862 East 21 Street, BK NY;     3
2021-07-12 14:00:00  Assigned     1539 71st Street, BK NY;    14
2021-07-12 15:00:00   Arrived      208 Elmwood ave, BK NY;    15
2021-07-12 20:45:00   Arrived            543 1 St., BK NY;    20
2021-07-12 05:00:00   Arrived  513 Montgomery StreetBK NY;     5

> **(e) Display the ‘PU_Address‘ for records whose index is ’Today’s date 20:00:00’: hint: today’s date depends on the day you are working on the question.**

In [83]:
df_uber.index.hour == 7

array([ True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [92]:
df_uber[(df_uber.index.hour == 20) & (df_uber.index.minute == 0)]

                       Status                    PU_Address  Hour
Time
2021-07-12 20:00:00  Assigned     35-36 32 St., Astoria NY;    20
2021-07-12 20:00:00   Arrived  717 President Street, BK NY;    20

> **(f) Reset the data frame so that ‘Time‘ is a column again**

In [95]:
df_uber.reset_index('Time', inplace = True)

In [96]:
df_uber

,Time,Status,PU_Address,Hour
0,2021-07-12 07:15:00,Cancelled,"Brooklyn Museum, 200 Eastern Pkwy., BK NY;",7
1,2021-07-12 07:30:00,Arrived,"33 Robert Dr., Short Hills NJ;",7
2,2021-07-12 08:00:00,Assigned,"60 Glenmore Ave., BK NY;",8
3,2021-07-12 09:00:00,Assigned,"128 East 31 St., BK NY;",9
4,2021-07-12 09:30:00,Assigned,"139-39 35 Ave., Flushing NY;",9
...,...,...,...,...
94,2021-07-12 06:00:00,Assigned,"266 prospect park west, brooklyn NY;",6
95,2021-07-12 08:30:00,Cancelled,"42 St., BK NY;",8
96,2021-07-12 12:00:00,Arrived,"663 51st Street, BK NY;",12
97,2021-07-12 16:45:00,Assigned,"255 Fieldston Terrace, Bronx NY;",16
98,2021-07-12 13:30:00,Arrived,"Columbia University, 630 W 168 St., NY NY; ST:...",13

<div class="alert alert-block alert-warning">  

### Question 5: You work for a large school district as a data analyst. Your boss wants to purchase a large amount of cereal for school breakfasts. He needs to choose a manufacturer and product. He wants you to prepare a presentation for the executive team. You are provided with some data in cereal.csv:
- (a) Initially explore the dataset by looking at the number of records, column names, column types and few record values. Through this initial look, combined with your boss’s goal above, list five analytics queries or questions that you would have about this dataset in your exploratory process.
- (b) To answer the questions you have listed above, what columns from this data you would need? Print some basic statistical summaries and plots for at least 5 columns you would need to check missing values, extreme values and value distributions. List three findings you have at this point.
- (c) To answer the questions you have listed above, describe 5 visualizations that can help you explore this data. (Example: line graph between variable x and y.).
- (d) Plot at three DIFFERENT graphs you have mentioned above. Summarise some findings from each plot. (For example, line chart of x and y and line chart of a and b doesn’t count as different; line chart and box plot does. )
- (e) Besides the information provided in the data, what else information might be helpful to achieve your boss’ goal?

In [ ]:
cereal = read_csv('')